{% extends 'base.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-8">
            <div class="row g-0 border rounded overflow-hidden mb-4 h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">World</strong>
                    <h3 class="mb-0">Featured post</h3>
                    <div class="mb-1 text-muted">Nov 12</div>
                    <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="stretched-link">Continue reading</a>
                </div>
            </div>

            <div class="row g-0 border rounded overflow-hidden mb-4 h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-success">Design</strong>
                    <h3 class="mb-0">Post title</h3>
                    <div class="mb-1 text-muted">Nov 11</div>
                    <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="stretched-link">Continue reading</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="px-4 py-2 bg-light rounded">
                <h4 class="fst-italic">Entrainement hivernal</h4>
                <div class="mb-2">
                    <div class="">Mardi</div>
                    <div class="ms-3"> 19h15 - 20h45 (débutant)</div>
                    <div class="ms-3"> 19h15 - 21h15 (confirmé)</div>
                </div>
                <div class="mb-4">
                    <div>Samedi</div>
                    <div class="ms-3">9h30 - 11h00 (débutant)</div>
                    <div class="ms-3">9h30 - 11h30 (confirmé)</div>
                </div>
                <div>
                    <div><i class="fa-solid fa-location-dot"></i> Gymnase Sylvie Dupays - Roger Couderc</div>
                    <div class="ms-3">96 Rue de la Planchette</div>
                    <div class="ms-3">60870 Brenouille</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
