{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-8">
            {% for post in listPost %}
                <twig:PostComponent
                        post="{{ post }}"
                        hasTruncateDescription="true"
                />
            {% endfor %}
        </div>
        <div class="col-4">
            <twig:TrainingPlaceComponent
                    typePlaceEnum="{{ typePlaceActive() }}"
                    display="{{ enum('App\\Enum\\TrainingPlaceDisplayEnum').BLOCK }}"
            />
        </div>
    </div>
{% endblock %}
