{% extends 'base.html.twig' %}

{% block title_page %}
    {{ parent() }} - {{ 'menu.license'|trans }}
{% endblock %}

{% block content %}
    <div class="row g-4">
        <h2>{{ 'menu.license'|trans }} <small class="text-muted">(2024 - 2025)</small> </h2>
        <div class="col-sm-12 col-lg-4 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="card-title d-flex bd-highlight">

                        <div class="flex-grow-1 bd-highlight"><h4>Adulte</h4></div>
                        <div class="bd-highlight"><h4>120€ <small class="text-muted"> / an</small></h4></div>
                    </div>
                    <ul>
                        <li>Pratique en club</li>
                        <li>Pratique en compétition</li>
                        <li>Sans pratique</li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-4 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="card-title d-flex bd-highlight">
                        <div class="flex-grow-1 bd-highlight"><h4>- de 18 ans</h4></div>
                        <div class="bd-highlight"><h4>120€ <small class="text-muted"> / an</small></h4></div>
                    </div>
                    <ul>
                        <li>Pratique en club</li>
                        <li>Pratique en compétition (Certificat médical à fournir)</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-4 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-title d-flex bd-highlight">
                        <div class="flex-grow-1 bd-highlight"><h4>Découverte</h4></div>
                        <div class="bd-highlight"><h4>50€ <small class="text-muted"> / an</small></h4></div>
                    </div>
                    <ul>
                        <li>Pratique en club</li>
                        <li>Compétition non autorisées</li>
                        <li>Délivrable uniquement aprés le 1er mars de la saison en cours</li>
                        <li>Ne jamais avoir eu de licence FFTA</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row g-4 mt-5">
        <h2>Location de matériel</h2>
        <div class="col-sm-12 col-lg-6 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex bd-highlight mt-2">
                        <div class="flex-grow-1 bd-highlight"><h4>Première année</h4></div>
                        <div class="bd-highlight"><h4>OFFERT</h4></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-6 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex bd-highlight mt-2">
                        <div class="flex-grow-1 bd-highlight"><h4>Deuxième année et plus</h4></div>
                        <div class="bd-highlight"><h4>50€ <small class="text-muted"> / an</small></h4></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-5">
        <h2>Demande de licence</h2>
        <ul class="icon-list ms-4 mt-4">
            <li>Imprimer et compléter <a href="https://www.ffta.fr/sites/default/files/2024-09/Formulaire_création_renouvellement_licence- version 2025_0.pdf">la fiche d’inscription.</a></li>
            <li>Imprimer et compléter <a href="https://www.ffta.fr/sites/default/files/2023-08/Questionnaire%20de%20sante%CC%81%20MAJEUR%20ET%20MINEUR.pdf">le questionnaire de santé</a>, en cas de réponse positive à l’une des questions, fournir un certificat médical.</li>
            <li>Attester avoir pris connaissance de <a href="https://www.ffta.fr/sites/default/files/2023-08/Notice%20Assurance%202022-2026%20%281%29.pdf">la notice assurance</a> pour la période 2022-2026.</li>
            <li>Règlement par chèque à l’ordre de <strong>Compagnie d’Arc de Rieux</strong></li>
        </ul>
        <p class="ms-5">Votre demande de renouvellement de licence sera automatiquement adressée par mail par la FFTA.</p>
    </div>

    <div class="mt-5">
        <h2>Pass’Sports</h2>
        <ul class="icon-list ms-4 mt-4">
            <li><strong>50 €</strong> de réduction pour les licenciés de moins de 18 ans sur présentation du <a href="https://www.pass.sports.gouv.fr/v2/tout-savoir-sur-le-pass-sport">Pass’Sports</a> du ministère des sports.</li>
            <li><strong>15 €</strong> de réduction pour les licenciés de moins de 18 ans sur présentation du <a href="https://oise.fr/les-pass-citoyens-du-conseil-departemental-de-loise/le-passsports-citoyen">Pass’Sports</a> du conseil départemental de l'oise.</li>
        </ul>
    </div>

{% endblock %}
