<div class="row">
    {% for licenceInPeriod in this.licencesInPeriod %}
        <div class="col-sm-12 col-lg-4 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="card-title d-flex bd-highlight">
                        <div class="flex-grow-1 bd-highlight"><h4>{{ licenceInPeriod.type.value }}</h4></div>
                        <div class="bd-highlight"><h4>{{ licenceInPeriod.price }}€ <small class="text-muted"> / an</small></h4></div>
                    </div>
                </div>
                <ul>
                    {% for detail in licenceInPeriod.details %}
                        <li class="ms-3">{{ detail }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}
</div>
