<div class="row g-4">
    <h2>{{ 'license.rent.title'|trans }} </h2>
    {% for rentInPeriod in this.rentsInPeriod %}
        <div class="col-sm-12 col-lg-6 col-md-6">
            <div class="card">
                <div class="card-body mt-2">
                    <div class="card-title d-flex bd-highlight">
                        <div class="flex-grow-1 bd-highlight"><h4>{{ rentInPeriod.type.translationKey|trans }}</h4></div>
                        <div class="bd-highlight"><h4>
                                {% if 0 != rentInPeriod.price %}
                                    {{ rentInPeriod.price }}€ <small class="text-muted"> / an</small>
                                {% else %}
                                    {{ 'license.rent.free'|trans }}
                                {% endif %}
                            </h4></div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
