<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
    <div class="position-sticky pt-3 my-3">
        <ul class="nav flex-column">
            <h6 class="text-muted">
                <span>Administration</span>
            </h6>
            <li class="nav-item"><a href="{{ path('admin_membersList') }}" class="nav-link px-2"><i class="fa-solid fa-user"></i> {{ 'menu.members'|trans }}</a></li>
        </ul>
    </div>
</nav>
