<div class="container d-flex flex-wrap">
    <ul class="nav me-auto">
    </ul>
    <ul class="nav">
        <li class="nav-item"><a href="{{ path('app_logout') }}" class="nav-link px-2">
                <i class="fa-solid fa-right-from-bracket"></i> {{ 'menu.logout'|trans }}</a>
        </li>
    </ul>
</div>
